@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #ffc2da;
  font-family: 'Comfortaa', cursive;
  width: 100vw;
  min-height: 100vh;
  padding: 1rem 1rem;

  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.container {
  background-color: #ffc2da;
  width: 88%;
  /* max-height: 150vh; */
  box-shadow: 20px 20px 60px #d9a5b9, -20px -20px 60px #ffdffb;

  border-radius: 3rem;
}

#js{
  color: #ff0000;
}

.content {
  /* margin-top: rem; */
  text-align: center;
  padding: 3rem;
}

.content-1 {
  text-align: center;
}

.inputs {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.image {
  margin-top: 2.5rem;
  width: 40rem;
  height: auto;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 6px;
  border: 9px solid #ff0000;
}